In [3]:
!pip3 install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.6-cp38-cp38-macosx_10_9_x86_64.macosx_10_9_intel.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.2 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [1]:
import os
import psycopg2

In [5]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
DATABASE_URL

'postgres://hhvxopwvdfjawb:02eded6c452b399e3dd644eddfbe07d850537f7cff9e10a190c0fc2ea40057d6@ec2-54-163-249-4.compute-1.amazonaws.com:5432/d25762nn4a1l5k'

In [2]:
import os
import psycopg2

DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

#創開團表單 group_data
create_table =  '''CREATE TABLE group_data(
           activity_no serial PRIMARY KEY,
           activity_type VARCHAR (50),
           activity_name VARCHAR (50),
           activity_date DATE ,
           activity_time TIME ,
           location_tittle VARCHAR (50),
           lat NUMERIC (9, 6) ,
           long NUMERIC (9, 6),
           people INTEGER ,
           cost INTEGER ,
           due_date DATE ,
           description TEXT,
           photo TEXT,
           name VARCHAR (50),
           phone VARCHAR (10),
           attendee INTEGER ,
           condition VARCHAR (50),
           user_id VARCHAR (50)
        );'''

cursor.execute(create_table)
conn.commit()

#創報名表單 registration_data
create_table =  '''CREATE TABLE registration_data(
           record_no serial PRIMARY KEY,
           activity_no INTEGER,
           activity_name VARCHAR (50),
           attendee_name VARCHAR (50),
           phone VARCHAR (50),
           condition VARCHAR (50),
           user_id VARCHAR (50)
        );'''

cursor.execute(create_table)
conn.commit()


cursor.close()
conn.close()

DuplicateTable: relation "registration_data" already exists

In [14]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

alter_query = '''ALTER TABLE group_data DROP COLUMN mail'''

cursor.execute(alter_query)
conn.commit()

In [12]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()


postgres_select_query = f"""SELECT * FROM registration_data WHERE condition = 'initial'"""
cursor.execute(postgres_select_query)
data_r = cursor.fetchone() #準備寫入報名資料的那一列

In [13]:
print(data_r)

(11, 20, '登山', '少華', '12335', 'initial', 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6')