In [4]:
!pip3 install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.6-cp38-cp38-macosx_10_9_x86_64.macosx_10_9_intel.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 382 kB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

## 資料庫 postreSQL

In [20]:
import os
import psycopg2
import datetime as dt

In [19]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()
DATABASE_URL

'postgres://hhvxopwvdfjawb:02eded6c452b399e3dd644eddfbe07d850537f7cff9e10a190c0fc2ea40057d6@ec2-54-163-249-4.compute-1.amazonaws.com:5432/d25762nn4a1l5k\n'

In [ ]:
import os
import psycopg2

DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

#創開團表單 group_data
create_table =  '''CREATE TABLE group_data(
           activity_no serial PRIMARY KEY,
           activity_type VARCHAR (50),
           activity_name VARCHAR (50),
           activity_date DATE ,
           activity_time TIME ,
           location_tittle VARCHAR (50),
           lat NUMERIC (9, 6) ,
           long NUMERIC (9, 6),
           people INTEGER ,
           cost INTEGER ,
           due_date DATE ,
           description TEXT,
           photo TEXT,
           name VARCHAR (50),
           phone VARCHAR (10),
           attendee INTEGER ,
           condition VARCHAR (50),
           user_id VARCHAR (50)
        );'''

cursor.execute(create_table)
conn.commit()

#創報名表單 registration_data
create_table =  '''CREATE TABLE registration_data(
           registration_no serial PRIMARY KEY,
           activity_no INTEGER,
           activity_name VARCHAR (50),
           attendee_name VARCHAR (50),
           phone VARCHAR (50),
           condition VARCHAR (50),
           user_id VARCHAR (50),
           activity_date DATE,
           activity_type VARCHAR (50)
        );'''

cursor.execute(create_table)
conn.commit()


cursor.close()
conn.close()

In [14]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

#創登入表單 login
create_table =  '''CREATE TABLE login(
           login_no serial PRIMARY KEY,
           user_id VARCHAR(50),
           password VARCHAR(50),
           user_name VARCHAR(50),
           user_phone VARCHAR (50)
           );'''
cursor.execute(create_table)
conn.commit()

cursor.close()
conn.close()

#### 對資料庫表格做變更

In [14]:
# 刪除欄位
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

alter_query = '''ALTER TABLE group_data DROP COLUMN mail'''

cursor.execute(alter_query)
conn.commit()

In [239]:
# 新增欄位
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

alter_query = '''ALTER TABLE registration_data ADD COLUMN activity_type VARCHAR (50)'''

cursor.execute(alter_query)
conn.commit()

In [39]:
# 變更欄位名稱
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

alter_query = '''ALTER TABLE registration_data RENAME COLUMN registration TO registration_no;'''

cursor.execute(alter_query)
conn.commit()

In [17]:
# 清空資料
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

truncate_query = '''TRUNCATE TABLE login'''

cursor.execute(truncate_query)
conn.commit()

#### 取資料

In [195]:
dt.date.today()

datetime.date(2021, 3, 7)

In [25]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

select_query = '''SELECT activity_date FROM group_data WHERE activity_no = 130'''

cursor.execute(select_query)
conn.commit()

print(cursor.fetchall())

[(datetime.date(2021, 1, 1),)]

In [24]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

select_query = f"""SELECT * FROM group_data WHERE activity_date = '{datetime.date(2021, 1, 1)}' AND people > attendee"""

cursor.execute(select_query)
conn.commit()

print(cursor.fetchone())

NameError: name 'datetime' is not defined

In [393]:
postgres_delete_query = f"""DELETE FROM group_data WHERE activity_no = 210;"""
cursor.execute(postgres_delete_query)
conn.commit()

In [30]:
postgres_select_query = f"""SELECT * FROM group_data WHERE activity_no = 229 ORDER BY activity_no DESC;"""
cursor.execute(postgres_select_query)
now_group_data = cursor.fetchall()
now_group_data

[(229,
  '登山踏青',
  '達娜伊谷',
  datetime.date(2021, 5, 5),
  datetime.time(15, 46),
  '達娜伊谷',
  Decimal('23.378309'),
  Decimal('120.677970'),
  4,
  60,
  datetime.date(2021, 5, 4),
  '無',
  'https://i.imgur.com/FUOGQRw.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6')]

In [402]:
postgres_select_query = f"""UPDATE group_data SET (attendee, condition) = (2, 'pending') WHERE activity_no = 102;"""
cursor.execute(postgres_select_query)
conn.commit()

In [331]:
postgres_select_query = f"""SELECT * FROM group_data WHERE due_date >= '{dt.date.today()}' ORDER BY activity_date ASC;"""
cursor.execute(postgres_select_query)
now_group_data = cursor.fetchall()
now_group_data

[(204,
  '登山踏青',
  '安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚',
  datetime.date(2021, 3, 14),
  datetime.time(21, 23),
  '安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚',
  None,
  None,
  8,
  6666,
  datetime.date(2021, 3, 13),
  '無',
  'https://i.imgur.com/jPjP5df.png',
  '少華',
  '0932831154',
  1,
  'pending',
  'chang'),
 (101,
  '登山踏青',
  '大坑步道',
  datetime.date(2021, 3, 14),
  datetime.time(12, 16),
  '大坑風景區',
  Decimal('24.179713'),
  Decimal('120.733472'),
  5,
  268,
  datetime.date(2021, 3, 13),
  '無',
  'https://i.imgur.com/M9mjOTI.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (82,
  '唱歌跳舞',
  '唱歌',
  datetime.date(2021, 3, 15),
  datetime.time(10, 46),
  '星聚點KTV西門館',
  Decimal('25.043088'),
  Decimal('121.505268'),
  6,
  500,
  datetime.date(2021, 3, 14),
  'Test',
  '無',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (100,
  '登山踏青',
  '火炎山',
  datetime.date(2021, 3, 16),
  datetime.time(12, 13),
  '火炎山',
  Decimal('24.362964'),
  Decimal('120.725818'),
  7,
  345,
  datetime.date(2021, 3, 15),
  '無',
  'https://i.imgur.com/zFkLJcm.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (205,
  '登山踏青',
  '安安',
  datetime.date(2021, 3, 18),
  datetime.time(23, 40),
  '安安安',
  None,
  None,
  3,
  333,
  datetime.date(2021, 3, 17),
  '無',
  'https://i.imgur.com/raPDyqQ.jpeg',
  '測試',
  '0932',
  1,
  'pending',
  'Hello'),
 (79,
  '登山踏青',
  '奇萊南華',
  datetime.date(2021, 3, 20),
  datetime.time(5, 42),
  '天池山莊',
  Decimal('24.045366'),
  Decimal('121.279678'),
  8,
  1000,
  datetime.date(2021, 3, 19),
  'Test',
  '無',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (78,
  '登山踏青',
  '太平山',
  datetime.date(2021, 3, 21),
  datetime.time(6, 41),
  '太平山國家森林遊樂區',
  Decimal('24.497724'),
  Decimal('121.535031'),
  6,
  1000,
  datetime.date(2021, 3, 20),
  'Test',
  '無',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (131,
  '吃吃喝喝',
  '吃冰',
  datetime.date(2021, 3, 22),
  datetime.time(0, 21),
  'Hohocha喝喝茶丨台灣香日月潭紅茶廠',
  Decimal('23.896183'),
  Decimal('120.933680'),
  5,
  225,
  datetime.date(2021, 3, 21),
  'ccClub出遊 南投三天兩夜\n參觀南投的喝茶觀光工廠 喝喝茶，裡面的冰淇淋很好吃，參觀出場券有附一杯紅茶和一顆茶葉蛋',
  'https://i.imgur.com/D2kpSt7.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (102,
  '吃吃喝喝',
  '吃甜點',
  datetime.date(2021, 3, 22),
  datetime.time(13, 55),
  'Overture序曲',
  Decimal('24.164077'),
  Decimal('120.689300'),
  3,
  250,
  datetime.date(2021, 3, 21),
  '無',
  'https://i.imgur.com/BuG8u9H.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (203,
  '登山踏青',
  '安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚',
  datetime.date(2021, 3, 25),
  datetime.time(21, 21),
  '安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚安安安安安安安安安安讚讚讚讚讚讚讚讚讚讚',
  None,
  None,
  6,
  8888,
  datetime.date(2021, 3, 24),
  '無',
  'https://i.imgur.com/uORLJTM.png',
  '少華',
  '0932831154',
  1,
  'pending',
  'chang'),
 (146,
  '唱歌跳舞',
  '星期五猴子去跳舞 ',
  datetime.date(2021, 4, 1),
  datetime.time(23, 22),
  'Taipei Zoo',
  None,
  None,
  6,
  100,
  datetime.date(2021, 3, 31),
  '星期一，猴子穿新衣，\r\n\r\n星期二，猴子肚子餓，\r\n\r\n星期三，猴子去爬山，\r\n\r\n星期四，猴子看電視（去考試），\r\n\r\n呈期五，猴子去跳舞，\r\n\r\n星期六，猴子去斗六，\r\n\r\n星期日，猴子過生日。',
  '無',
  '少華',
  '0932831154',
  2,
  'closed by owner',
  'chang'),
 (83,
  '登山踏青',
  '陽明山',
  datetime.date(2021, 4, 24),
  datetime.time(6, 47),
  '陽明山國家公園遊客中心',
  Decimal('25.155347'),
  Decimal('121.546600'),
  6,
  500,
  datetime.date(2021, 4, 23),
  'Test',
  '無',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (88,
  '登山踏青',
  '抹茶山',
  datetime.date(2021, 4, 25),
  datetime.time(7, 2),
  '聖母登山步道',
  Decimal('24.848150'),
  Decimal('121.735166'),
  6,
  1000,
  datetime.date(2021, 4, 24),
  'Test',
  '無',
  '少華',
  '0932831154',
  2,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (98,
  '吃吃喝喝',
  '隨便吃',
  datetime.date(2021, 5, 1),
  datetime.time(0, 13),
  '京都柚子豚骨拉麵研究中心 中山本店',
  Decimal('25.051027'),
  Decimal('121.520426'),
  7,
  300,
  datetime.date(2021, 4, 30),
  '無',
  'https://i.imgur.com/fnzJGsX.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6'),
 (99,
  '吃吃喝喝',
  '吃烤鴨！',
  datetime.date(2021, 6, 22),
  datetime.time(11, 30),
  '紅樓中餐廳',
  Decimal('24.753690'),
  Decimal('121.750254'),
  12,
  1000,
  datetime.date(2021, 6, 21),
  '無',
  'https://i.imgur.com/dGROYjI.jpeg',
  '少華',
  '0932831154',
  1,
  'pending',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6')]

In [269]:
postgres_select_query = f"""SELECT attendee FROM group_data WHERE activity_no = '130';"""
cursor.execute(postgres_select_query)
data_g = cursor.fetchone()
data_g

(2,)

In [155]:
postgres_delete_query = f"""DELETE FROM registration_data WHERE activity_no = 130;"""
cursor.execute(postgres_delete_query)
conn.commit()

In [164]:
postgres_select_query = f"""SELECT * FROM registration_data WHERE user_id = 'chang' ORDER BY registration_no DESC;"""
cursor.execute(postgres_select_query)
data_r = cursor.fetchall()
data_r

[]

In [14]:
postgres_select_query = f"""SELECT condition FROM group_data WHERE activity_no = 199"""
cursor.execute(postgres_select_query)
activity_condition = cursor.fetchall()
print([list(row) for row in activity_condition])

[]

In [6]:
postgres_update_query = f"""UPDATE registration_data SET activity_type = '唱歌跳舞' WHERE registration_no = 55;"""
cursor.execute(postgres_update_query)
conn.commit()

In [17]:
postgres_select_query = f"""SELECT phone FROM registration_data ORDER BY registration_no DESC;"""
cursor.execute(postgres_select_query)
data_r = [data[0] for data in cursor.fetchall()]
data_r

['0932831154',
 '0932831154',
 '099999',
 '0932831154',
 '0932831154',
 '0932831154',
 '0932831154',
 '0932831154',
 '0932831154',
 '0932831154',
 '0932831154']

In [265]:
a= [1,2,3,4,5]
a[-1:]

[5]

In [94]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

# postgres_select_query = f'''SELECT attendee_name, phone FROM registration_data WHERE user_id = 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6' ORDER BY record_no DESC;'''
postgres_select_query = f'''SELECT * FROM registration_data WHERE user_id = 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6' and condition != 'initial' ORDER BY registration_no DESC;'''
cursor.execute(postgres_select_query)
conn.commit()

data_for_basicinfo = cursor.fetchone()

In [95]:
data_for_basicinfo

(40,
 76,
 '玉山',
 '少華',
 '0932831154',
 'closed',
 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6',
 datetime.date(2021, 2, 21))

In [21]:
phone_registration

[(21,
  20,
  '登山',
  '少華',
  '123',
  'closed',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6',
  datetime.date(2021, 1, 31)),
 (25,
  20,
  '登山',
  None,
  None,
  'initial',
  'U6f3e30f7fd35bb4e2b8a55f3eb3673d6',
  datetime.date(2021, 1, 31))]

In [5]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()


postgres_select_query = f"""SELECT * FROM group_data"""
cursor.execute(postgres_select_query)
data_r = cursor.fetchone() #準備寫入報名資料的那一列

In [6]:
print(data_r)

(102, '吃吃喝喝', '吃甜點', datetime.date(2021, 3, 22), datetime.time(13, 55), 'Overture序曲', Decimal('24.164077'), Decimal('120.689300'), 3, 250, datetime.date(2021, 3, 21), '無', 'https://i.imgur.com/BuG8u9H.jpeg', '少華', '0932831154', 1, 'pending', 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6')

In [8]:
type(data_r[3])

datetime.date

In [414]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a shao-test').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

# postgres_select_query = f'''SELECT attendee_name, phone FROM registration_data WHERE user_id = 'U6f3e30f7fd35bb4e2b8a55f3eb3673d6' ORDER BY record_no DESC;'''
postgres_select_query = f'''SELECT * FROM login;'''
cursor.execute(postgres_select_query)
conn.commit()

cursor.fetchall()

[(3, 'Me', 'myself', 'shao', '0932831165'),
 (4, 'chang', 'chang', '少華', '0932831154'),
 (5, 'test', 'test', 'test', 'test'),
 (6, 'abc', 'cba', 'test', '12345'),
 (7, 'Try', 'trytry', '測試', '0912345678'),
 (8, 'testtest', 'testtest', '測試', '0987654321'),
 (9, 'Hello', 'World', '測試', '0932'),
 (10, 'Hey', 'Python', '也是測試', '168888'),
 (11, 'New', 'new', '新帳號', '12345'),
 (12, 'even1991', '801003', 'even', '0925686611'),
 (13, 'even1991', '801003', 'even', '0925686611'),
 (14, 'shao5566', 'hua5566', '我是少華', '55665566'),
 (15, 'shao2', 'hua2', '我是少華2', '2222'),
 (16, 'shao3', 'hua3', '我是少華3', '333'),
 (17, 'shao5', 'hua5', '我是少華5', '555'),
 (18, 'shao6', 'hua6', '我是少華6', '666'),
 (19, 'shao7', 'hua7', '我是少華7', '777')]

## 建立 Rich menu

In [ ]:
curl -v -X POST https://api.line.me/v2/bot/richmenu \
-H 'Authorization: Bearer {NpTtgG2aENN8PGBvJQgq986lUDiFeCd5zr2/woya4ELt8J7MefsdLv+VOc+Cja39aV8ii3Hd8+jR8lQHYHlIcDtVKpTbKjPTnl4kQPxuOHZp1pkq2khE8XIhF1XuPKrF3naNuJftXI5cNp6HIvvXUQdB04t89/1O/w1cDnyilFU=}' \
-H 'Content-Type: application/json' \
-d \
'{
    "size": {
      "width": 2500,
      "height": 1686
    },
    "selected": false,
    "name": "richmenu-1",
    "chatBarText": "點我開啟功能選單！",
    "areas": [
      {
        "bounds": {
          "x": 0,
          "y": 0,
          "width": 1250,
          "height": 843
        },
        "action": {
          "type": "postback",
          "label": "我要開團",
          "data": "我要開團",
          "displayText":"我要開團"
        }
      },
      {
        "bounds": {
          "x": 1250,
          "y": 0,
          "width": 1250,
          "height": 843
        },
        "action": {
          "type": "postback",
          "label": "我要報名",
          "data": "我要報名",
          "displayText":"我要報名"
        }
      },
      {
        "bounds": {
          "x": 0,
          "y": 843,
          "width": 1250,
          "height": 843
        },
        "action": {
          "type": "postback",
          "label": "我的開團",
          "data": "我的開團",
          "displayText":"我的開團紀錄"
        }
      },
      {
        "bounds": {
          "x": 1250,
          "y": 843,
          "width": 1250,
          "height": 843
        },
        "action": {
          "type": "postback",
          "label": "我的報名",
          "data": "我的報名",
          "displayText":"我的報名紀錄"
        }
      }  
   ]
}'

In [ ]:
curl -v -X POST https://api-data.line.me/v2/bot/richmenu/richmenu-7c363e7b1f72ac9f18a8f68f14594db7/content \
-H "Authorization: Bearer {NpTtgG2aENN8PGBvJQgq986lUDiFeCd5zr2/woya4ELt8J7MefsdLv+VOc+Cja39aV8ii3Hd8+jR8lQHYHlIcDtVKpTbKjPTnl4kQPxuOHZp1pkq2khE8XIhF1XuPKrF3naNuJftXI5cNp6HIvvXUQdB04t89/1O/w1cDnyilFU=}" \
-H "Content-Type: image/jpeg" \
-T /Users/shao/chatbot/richmenu_2.jpg

In [ ]:
curl -v -X POST https://api.line.me/v2/bot/user/all/richmenu/richmenu-7c363e7b1f72ac9f18a8f68f14594db7 \
-H "Authorization: Bearer {NpTtgG2aENN8PGBvJQgq986lUDiFeCd5zr2/woya4ELt8J7MefsdLv+VOc+Cja39aV8ii3Hd8+jR8lQHYHlIcDtVKpTbKjPTnl4kQPxuOHZp1pkq2khE8XIhF1XuPKrF3naNuJftXI5cNp6HIvvXUQdB04t89/1O/w1cDnyilFU="

In [1]:
import os
os.urandom(16).hex()

'a1ac3cc961b7c0fb5d3f467b12ffb4e5'

In [67]:
import datetime as dt
dt.datetime.strptime('2021-03-17', '%Y-%m-%d') - dt.timedelta(days=1)

datetime.datetime(2021, 3, 16, 0, 0)

In [42]:
a = 10
b = "y" if a != 10 else "N"
b

'N'